@import '../@theme/styles/themes';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep snack-bar-container.custom-class {
  background: yellow;
}

::ng-deep .custom-class .mat-simple-snackbar {
  color: green;
}

@import '~@angular/material/theming';
