<!-- The Modal -->
<!--<div class="modal fade" id="modal-add-activity" #modalAddActivity>-->
<ng-template #modalAddActivity let-c="close" let-d="dismiss">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">Add Manual Time Entry</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>

      <div class="container">
        <div class="row">

          <div class="panel-body">
            <form [formGroup]="activityForm">

              <!--Project name-->
              <div class="offset-1">
                <label for="projectNamesSelect" class="col-sm-3 offset-1">Project  </label>
                <select formControlName="projectName" id="projectNamesSelect" class="description">
                  <option class="description" *ngFor="let project of projectList" [value]="[project.id, project.title]">
                    {{project.title}}
                  </option>
                </select>
              </div>

              <div>
                <label class="basic-container col-sm-3 offset-md-1">Description  </label>
                <input formControlName="description" id="description" class="description" type="text">
              </div>

              <!--Hours selector-->
              <div class="row">
                <div class="col-sm-2 offset-md-1">
                  <br>
                  <br>
                  <p>Hours:</p>
                </div>

                <div class="col-sm-6">
                  <ngb-timepicker formControlName="hours"></ngb-timepicker>
                </div>
                <hr>
              </div>

              <!--Start time selector-->
              <div class="row">
                <div class="col-sm-2 offset-1">
                  <br>
                  <br>
                  <p>Worked from:</p>
                </div>

                <div class="col-sm-4">
                  <ngb-timepicker formControlName="startTime"></ngb-timepicker>
                </div>

                <div class="col-sm-1">
                  <br>
                  <br>
                  <p>to</p>
                </div>

                <div class="col-sm-4">
                  <ngb-timepicker formControlName="endTime"></ngb-timepicker>
                </div>
                <br>
                <hr>
              </div>


              <!--            Date selection-->
              <!--            <div class="my-calendar">-->
              <!--              <nb-card>-->
              <!--                <nb-card-header>Date:</nb-card-header>-->
              <!--                <nb-card-body>-->
              <!--                  <input nbInput-->
              <!--                         placeholder="Form Picker"-->
              <!--                         [nbDatepicker]="formpicker">-->
              <!--                  <nb-datepicker #formpicker></nb-datepicker>-->
              <!--                </nb-card-body>-->
              <!--              </nb-card>-->
              <!--            </div>-->
              <div class="row">
                <!--              <div class="my-calendar">-->
                <div class="col-sm-3 offset-1">
                  <p>Date:</p>
                </div>
                <div class="col-sm-6">
                  <input nbInput
                         placeholder="Form Picker"
                         formControlName="date"
                         [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
                <!--              </div>-->
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                (click)="closeModal()">Cancel</button>
        <!--        <button class="btn btn-outline-primary" (click)="tabsetAddProject.select('tab-selectbyid2')">Go To Next</button>-->
        <button type="submit" class="btn btn-success"
                (click)="submitCreateActivityForm();">Submit</button>
        <!--        data-dismiss="modal" [disabled]="!activityForm.valid"-->

      </div>
    </div>
  </div>
</ng-template>
<!--</div>-->


