<modal-add-activity></modal-add-activity>

<div class="row">
  <div>
    <ng2-smart-table [settings]="settings"
                     [source]="dataSource"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </div>

  <div class="peer">
    <button type="button" class="btn cur-p btn-primary"
            (click)="ngxSmartModalService.getModal('modalAddActivity').open()">
      Add Activity
    </button>

  </div>
</div>


