<ngb-tabset #tabsetAddProject="ngbTabset">
    <ngb-tab id="tab-selectbyid1">
        <ng-template ngbTabTitle><b>1. General</b></ng-template>
        <ng-template ngbTabContent>

            <form [formGroup]="createProjectForm">
                <label>
                    Project Title:
                    <input type="text" on-change="setTitle()" formControlName="title"
                           id="title">
                </label>
                <input ejs-colorpicker id='color-picker' #colorpicker type='color'/>

                <div class="picker" formControlName='color'>
                    <color-picker-component (event)='setColor($event)'></color-picker-component>
                </div>

            </form>

        </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2">
        <ng-template ngbTabTitle><b>2. Invite Members</b></ng-template>
        <ng-template ngbTabContent>text here
            <p>There you could add members to your project</p>
            <projects-members-chips></projects-members-chips>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
