<!--<div>-->
<!--    <tag-input [ngModel]="[]"-->
<!--&lt;!&ndash;               &ndash;&gt;-->
<!--               [maxItems]="5"-->
<!--               [ripple]="false"-->
<!--               placeholder="Insert a new item">-->
<!--    </tag-input>-->
<!--</div>-->
<div>
    <tag-input [ngModel]="[]"
               [onlyFromAutocomplete]="true">
        <tag-input-dropdown [showDropdownIfEmpty]="true"
                            [dynamicUpdate]="false"
                            [focusFirstElement]="true"
                            [displayBy]="'value'"
                            [identifyBy]="'id'"
                            aria-label="Add a new member"
                            [autocompleteItems]="autocompleteItemsAsObjects">
            <ng-template let-item="item" let-index="index">
                ({{ index }}) {{ item.id }}: {{ item.value }}
            </ng-template>
        </tag-input-dropdown>
    </tag-input>
</div>
