::ng-deep .e-colorpicker-wrapper .e-split-btn-wrapper .e-split-colorpicker.e-split-btn .e-selected-color {
    height: 30px;
    width: 30px;
}

.color-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
