<div class="row">
  <div>
      <ng2-smart-table [settings]="settings"
                       [source]="dataSource"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (createConfirm)="onCreateConfirm($event)"
                       (editConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
  </div>

  <div class="peer">
    <button type="button" class="btn cur-p btn-primary"
            data-toggle="modal" data-target="#modal-add-project"(click)="open()">
      Add Project
    </button>
    <button mat-button>Click me!</button>

  </div>
</div>

<modal-add-project (newProject)="addNewProject($event)"></modal-add-project>
