<!--<div class="input-group">-->
<!--    <input nbInput-->
<!--        placeholder="Select Dates" [nbDatepicker]="rangepicker"-->
<!--        [(ngModel)]="inputModel"-->
<!--        class="form-control">-->
<!--</div>-->
<!--<nb-rangepicker  value="(min)"-->
<!--                 #rangepicker>-->
<!--</nb-rangepicker>-->

<div class="input-group">
    <input nbInput
           placeholder="{{placeholder}}"
           formControlName="date"
           [(ngModel)]="inputModel"
           [nbDatepicker]="formpicker"
           readonly
           class="form-control">
    <nb-datepicker #formpicker  (dateChange)="onChange()"></nb-datepicker>
</div>


<!--<div class="input-group">-->
<!--    <span [nbDatepicker]="dt" class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--    <input-->
<!--        [owlDateTimeTrigger]="dt" [owlDateTime]="dt"-->
<!--        [(ngModel)]="inputModel"-->
<!--        placeholder="{{placeholder}}"-->
<!--        [min]='min' [max]='max'-->
<!--        readonly-->
<!--        class="form-control">-->
<!--</div>-->
<!--<owl-date-time #dt [stepMinute]="15" [hour12Timer]='true' (afterPickerClosed)="onChange()"></owl-date-time>-->
